@model IEnumerable<SuperMammoth.Models.ReservationDTOModel>

@{
    ViewData["Title"] = "ReservationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Available Reservations</h1>

<p>
    <a asp-action="Create">New Search</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw( item.Start.ToString("dddd, dd MMMM yyyy. HH:mm"))
            </td>
            <td>
                @Html.Raw( item.End.ToString("dddd, dd MMMM yyyy.HH:mm"))
            </td>

            <td>
                @Html.Raw(item.Value.ToString("C"))
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Locator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>

            <td>
                @Html.ActionLink("Reserve", "Details", "Reservations", item)
            </td>
        </tr>
}
    </tbody>
</table>
<div class="alert alert-primary alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4>@TempData["message"]</h4>
</div>