@model SuperMammoth.Models.ReservationModel


@{
    ViewData["Title"] = "ReservationDetails";
}

<h1>ReservationDetails</h1>

<div>
    <h4>ReservationModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Value.ToString("C"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Locator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Locator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QrCode)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.QrCode)" alt="Qr Code" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Park.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Park.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
    </dl>
</div>

<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="600" height="500" id="gmap_canvas" src="@ViewBag.url" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </div>
</div>



<div>
    @if (Model.AvailableToRent == false)
    {
        @Html.ActionLink("Sub-Rent Reservation", "MakeAvailableToRent", @Model)
    }|
    @if (Model.Start > DateTime.Now)
    {@Html.ActionLink("Cancel Reservation", "Delete", Model)}
    |
    @Html.ActionLink("Re-send E-mail", "ReSend", new { id = Model.Id }) |
    <a asp-action="GetReservationByUser">Back to List</a>
</div>

@if (TempData["message"] != null)
{
    <div class="alert alert-primary alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>@TempData["message"]</h4>
    </div>
}