@model IEnumerable<SuperMammoth.Models.ReservationModel>

@{
    ViewData["Title"] = "SubRentList";
}

<h1>SubRentList</h1>

<h4> Please chose the desired reservation</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locator)
            </th>
            <th>
                Park Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.Raw(item.Start.ToString("dddd, dd MMMM yyyy. HH:mm"))
            </td>
            <td>
                @Html.Raw(item.End.ToString("dddd, dd MMMM yyyy. HH:mm"))
            </td>
            <td>
                @Html.Raw(item.RentValue.ToString("C"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Park.Name)
            </td>
            
            <td>
                @Html.ActionLink("SubRent", "SubRent", "Reservations", item)
            </td>
            
        </tr>
}
    </tbody>
</table>
